<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <title>Clover</title>

    <!-- Custom styles for this template -->
    <link href="../static/budget_form.css" rel="stylesheet">
    
  </head>
  
  <body>	

    {% set messages = get_flashed_messages() %}
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
      {{ message }}
    </div>
    {% endfor %}
    

    <!-- TOP NAVBAR SAME FOR ALL PAGES-->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Clover</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home">Dashboard <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Budget <span class="sr-only">(current)</span></a>
          </li>
	  <li class="nav-item">
            <a class="nav-link" href="/stocks">Stocks <span class="sr-only">(current)</span></a>
          </li>
	  <li class="nav-item">
            <a class="nav-link" href="#">Settings <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0" action="/logout">
          <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Logout">
        </form>
      </div>
    </nav>


    <div class="container-fluid">
      <div class="row">
        <main role="main" class="col">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Budget Form</h1>
          </div>

  <!-- FORM FOR THE FIXED/VAR BUDGET --------------------------------------------------------------------->
  <div id = "costbox">
    <div id = "fixedcost">
      Fixed Cost
      <form action="fixcost" method="POST" accept-charset="utf-8">
        Expenditure Name 
        <input required type="text"  name="fixedName">
        <br>
        Amount $
        <input required type="number" step="0.01" min="0" value="0" name="fixedAmt">
        <br>
        Type
        <select name="type">
          <option value="bills">Bills</option>
          <option value="insurance">Insurance</option>
          <option value="medical">Medical</option>
          <option value="membership">Membership/Subscription</option>
          <option value="mortgage">Mortgage/Rent</option>
          <option value="transportation">Transportation</option>
          <option value="utility">Utilities</option>
        </select>
        <br>
        Description
        <input  type="text" name="fixedDesc">
        <br>
        <input type="submit" value="Done">
      </form>
    </div>
    <br><br>

    <div id = "variablecost">
      Variable Cost
      <form action="varcost" method="POST" accept-charset="utf-8">
        Expenditure Name 
        <input required type="text" name="expName">
        <br>
        Amount $
        <input required type="number" step="0.01" min="0" value="0" name="expAmt">
        <br>
        Type
        <select name="type">
          <option value="eatOut">Dining Out </option>
          <option value="entertainment">Entertainment</option>
          <option value="event">Events</option>
          <option value="grocery">Grocery</option>
          <option value="misc">Miscellaneous</option>
          <option value="shop">Shopping</option>
        </select>
        <br>
        Description
        <input type="text" name="expDesc">
        <br>
        <input type="submit" value="Done">

      </form>

    </div>
  </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

  </body>
</html>

