<!DOCTYPE html>
<html>
<head>
  <title>Stocks</title>
</head>
<body>

  {% set messages = get_flashed_messages() %}
  {% for message in messages %}
  <div class="alert alert-danger" role="alert">
    {{ message }}
  </div>
  {% endfor %}
  

  <form method="post" action="/stocksubmit">
    Choose a stock: (MSFT)
    <input type="text" name="stockName">
    <br>
    <input type="submit" value="Submit">
  </form>


</body>

<!--<script src="../static/js/scatter.js"></script>!-->
</script>
</html>
